h1 {text-align: center;

}

#ima3 {margin-top;
 width: 50%

}

#ima3 {border-color: rgb(226, 43, 43);
    border-style: double;
    border-width: 28px;
}

    h1 {border-color: rgb(255, 0, 0);
    border-style: dashed;
    border-width: 20px;
}

    h1 {margin-right: 20px;

}

    h2 {border-color: rgb(255, 0, 0);
    border-style: dashed;
    border-width: 20px;
}

    h3 {border-color: rgb(255, 0, 0);
    border-style: dashed;
    border-width: 20px;
}

    h4 {border-color: rgb(255, 0, 0);
    border-style: dashed;
    border-width: 20px;
}